@tailwind base;
@tailwind components;
@tailwind utilities;

@media(max-width: 370px) {
    .md {
        flex-wrap: wrap;

    }

    .star {
        border: 1px solid #cbcbcb;
        border-radius: 6px;

        width: 100%;
        padding: 5px;

        display: flex;
        justify-content: center;

        margin-top: 10px;
    }

    .star img {
            margin-left: 0;
    }


}